p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.image_50 {
	width: 50%;
}
.image_size_m{
	width: 300px;
	height: 200px;
}
